RABBITMQ_NODENAME=rabbit@{{ lookup('dig', hostvars[inventory_hostname]['ansible_facts'][api_interface].ipv4.address + '/PTR')[0:-1] }}
RABBITMQ_USE_LONGNAME=true

RABBITMQ_LOG_BASE=/var/log/kolla/{{ project_name }}
RABBITMQ_DIST_PORT={{ role_rabbitmq_cluster_port }}
RABBITMQ_PID_FILE={{ rabbitmq_pid_file }}

export ERL_EPMD_ADDRESS={{ api_interface_address }}
export ERL_EPMD_PORT={{ role_rabbitmq_epmd_port }}
